body {
  background: linear-gradient(135deg, #ffde59, #ff914d);
  font-family: 'Comic Sans MS', Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0;
}

.player {
  background: white;
  border-radius: 25px;
  padding: 15px;
  width: 360px;
  text-align: center;
}

.player img {
  width: 200px;
 /* height: 200px;*/
  border-radius: 20px;
  border: 4px solid #ffde59;
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.song-card {
  background: #fff3d6;
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-card img {
  width: 100%;
  border-radius: 10px;
}

.buttons button {
  font-size: 28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #ff914d;
  color: white;
  margin: 10px;
  cursor: pointer;
}

audio {
  width: 100%;
  margin-top: 10px;
}
